.main-container {
    padding-top: 2%;
    padding-left: 5%;
    width: 90%;
  }
  
  .flex-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mat-chip-list {
    overflow: hidden;
  }
  
  .mat-form-field {
    margin: 6px 24px;
  }
  
  .card-demo {
    width: 400px;
    margin-left: 2%;
    margin-bottom: 2%;
  }